<% include ./partials/header.ejs %>


    <div class="container w-full h-full bg-[url(https://i2.wp.com/cdn.iphoneincanada.ca/wp-content/uploads/2014/02/whatsapp.png)] flex items-center justify-center">
            <div class="w-[28vw] h-[30vw] bg-green-600 rounded-lg">
               <div class="profile mx-[8vw] my-[1vw] w-[12vw] h-[12vw] bg-red-100 rounded-full">
                <img src="" alt="">
                <img id="plus " class="w-[27px] h-[27px] absolute mx-[160px] my-[112px]" src="https://imgs.search.brave.com/l5pdpDLubFjCgRcKk8nhcCk3gQpawsnp9vQNtb7rrZw/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jZG4t/aWNvbnMtcG5nLmZs/YXRpY29uLmNvbS8x/MjgvNDMxNS80MzE1/NjA5LnBuZw" alt="">
               </div>
            
            
               <input type="file">
               <div class="flex col-4 mx-[1vw] my-[4vw]">
                <form action="">
                    <div class="mb-3 mx-[2vw]">
                        <label for="exampleInputEmail1" class="form-label">Username</label>
                        <input type="text" name="username"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username">
                       
                      </div>
                      <div class="mb-3 mx-[2vw]">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                      </div>
                </form>
               </div>
            </div>
    </div>



<% include ./partials/footer.ejs %>